{% extends 'WClockBundle::layout.html.twig' %}

{% block title %}Контроль времени{% endblock %}

{% block content %}
<div>
    <form>
        <input id="work" class="action" data-action="action_work" type="button" value="Начать работу">
        <input id="leave" class="action" data-action="action_leave" type="button" value="Завершить день">
        <input id="break" class="action" data-action="action_break" type="button" value="Перерыв">
    </form>
</div>
{% endblock %}
